	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>
						<strong>Righi Marine Internasional</strong>
					</h4>

					<hr>

					<p style="text-align:justify">
						Perusahaan Pelaksana Penempatan Tenaga Kerja Indonesia Swasta yang menempatkan Tenaga Kerja Indonesia keLuar Negeri baik di sektor Formal maupun Informal dengan Negara Tujuan Penempatanya itu Taiwan,Fiji, Thailand,Samoa, Palau, dan Mauritius.
					</p>
				</div>

				<div class="col-lg-4">
					
				</div>

				<div class="col-lg-4">
					<h4>
						<strong>Office</strong>
					</h4>
					<hr>

					<p style="color:white">
						Kompleks Rulo Shangri-La Land
					</p>

					<p style="color:white">
                        <i class="glyphicon glyphicon-phone-alt"></i>&nbsp;
                        ( 0283 ) 453 2085 
                    </p>

                    <p style="color:white"><i class="glyphicon glyphicon-road"></i>&nbsp;
                        Jl. Pala 27 No. 14 A Mejasem Timur
                        52181 Tegal
                    </p>
                        <p style="color:white">
                        <i class="glyphicon glyphicon-envelope"></i>&nbsp;
                        admin@righimarine.com</p>
				</div>
			</div>
		</div>
	</footer>

	<div class="bawah">
		<div class="container">
			<p class="text-bawah">PT. Righi Marine International &copy;. Design By 
				<a href="http://panturaweb.com">Panturaweb.com</a>
			</p>
		</div>
	</div>